.items {
    max-width: 100%;
    height: auto;
}
#item-icon {
    max-width: auto;
    width: 200px;
    height: auto;
}
.caption {
    font-size: 15px;
}
#item {
    font-size: 35px;
}
.caption-cont {
    max-width: 100%;
    height: 20vh;
}
