* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.header {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}
#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: 0;
}
#overlay {
    position: absolute; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 22, 15, 0.9); /* Black background with opacity */
    z-index: 1;
}
.home-text {
    line-height: -10px;
}
.display-5 {
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
}
#color {
    color: #0db67e;
    font-weight: 700;
}
.pp {
    margin: -5px;
    font-size: 45px;
    z-index: 2;
}
.bb {
    margin: 10px;
    font-size: 20px;
    z-index: 2;
}

.view {
    z-index: 2;
}
/* .size-btn {
    max-width: 5%;
    max-height: 5%;
} */
#toggle-ic {
    max-width: 35px !important;
    height: 30px;
}
